.card{
    position: relative;
    border-top-right-radius: 25px;
}

.card-body{
    position: absolute;
    background-color: rgba(34, 33, 31, .75);
    color: rgba(255, 255, 255, 1);
    bottom: 0%;
    height: 50%;
}

.card-text{
    overflow-y: auto;
}