@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.playfair-display{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 1.75;
}

.playfair{
    font-family: 'Playfair', serif;
    font-weight: 400;
    line-height: 1.3;
}

.code{
    font-family: 'Courier Prime', monospace;
    line-height: 1.5rem;
    border-radius: 5px;
}
