html {font-size: 100%;} /*16px*/

body {
  background: #ffffff;
  font-family: 'Alice', serif !important;
  font-weight: 400;
  line-height: 2;
  color: #6c7179;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Sacramento', cursive !important;
  font-weight: 400;
  line-height: 1.3;
  color: #46494c;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

.font-specs
{
  border-left: 2px solid #a1a7ae;
  height: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.font-specs p
{
    margin: 0;
}

.alice
{
  font-family: 'Alice', serif !important;
  font-size: xx-large;

}

.sacramento
{
  font-family: 'Sacramento', cursive;
  font-size: xx-large;
}

.emphasized
{
  font-weight: 700;
  color: #46494c;
}