<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Nia - Cards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/gradient/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/gradient/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/gradient/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon/gradient/site.webmanifest">
    <!-- Custom styles for this template -->
    <link href="../css/global.css" rel="stylesheet">
    <link href="css/nav.css" rel="stylesheet">
  </head>
  <body>
    <!--Vertical Navbar-->
    <nav id="trueNav">
      <div class="container-fluid">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <a href="../home.html" class="d-flex align-items-center text-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
              <img src="../assets/logos/reverse - color.png" style="width: 20rem;" alt="JNS Logo"></img>
            </a>
            <ul class="list-unstyled ps-0 red-hover">
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                data-bs-toggle="collapse" data-bs-target="#foundations-collapse" aria-expanded="false">
                Foundations
                </button>
                <div class="collapse" id="foundations-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../foundation/type.html" class="d-inline-flex rounded ">Typography</a></li>
                    <li><a href="../foundation/color.html" class="d-inline-flex rounded">Color Palette</a></li>
                    <li><a href="../foundation/logo.html" class="d-inline-flex rounded">Logo Variations</a></li>
            
                  </ul>
                </div>
              </li>
  
              <li class="mb-1 blue-hover">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed " 
                data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="false">
                  Components
                </button>
                <div class="collapse" id="components-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../components/buttons.html" class="d-inline-flex rounded">Buttons</a></li>
                    <li><a href="../components/cards.html" class="d-inline-flex rounded">Cards</a></li>
                    <li><a href="../components/graphical-elem.html" class="d-inline-flex rounded">Graphical Elements</a></li>
                    <li><a href="../components/navigation.html" class="d-inline-flex rounded">Navigation</a></li>
                  </ul>
                </div>
              </li>
  
              <li class="mb-1 green-hover">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed " 
                data-bs-toggle="collapse" data-bs-target="#patterns-collapse" aria-expanded="false">
                  Page Patterns
                </button>
                <div class="collapse" id="patterns-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../patterns/page1.html" class="d-inline-flex rounded">Homepage</a></li>
                    <li><a href="../patterns/page2.html" class="d-inline-flex rounded">Other Page</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--Header-->
    <nav id="page-header" class="navbar bg-body-tertiary header d-flex p-1" style="background-color: #C4BAB9!important;">
      <a id="nia-link" class="navbar-brand" href="../home.html" style="text-decoration: none; display: inline;">
        <div class="p-1 m-3 nia sticker"><h1>Nia</h1></div>
      </a>
      <h1 class="align-self-center flex-lg-shrink-1">Design System: Components - Navigation</h1>
      <button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <!-- Page Content  -->
    <div class="grid-paper p-5">
      <div class = "container-fluid" id="content">
        <!--Sticker-->
        <div class="row drop-shadow sticker mb-5 p-5">
          <div class="col-12">
            <h2>Navigation</h2> <!--Definition-->
            <large>
                A sidebar navigational component to maximize screen real-estate. 
            </large>
          </div>
        </div>
        <!--Main Content-->
        <!-- <div class="row px-5 mx-5 mb-3" style="background-color: transparent;"> 
            <div class="col-12 pb-3 text-center">
              <h3>Navigation</h3>
            </div>
        </div> -->
        <div class="row ms-0 px-5 mx-5 mb-5"> <!--Default Card Example-->
            <div class="col-lg-5 col-md-12 ">
                <div class="d-flex justify-content-start dashed-border " style="height: 100%;">
                    <nav class="navbar-expanded">
                        <div class="nav-header">
                            <a href="#">
                                <img class="logo" src="../assets/logos/reverse - color.png" alt="JNS Logo"></img>
                            </a>
                        </div>
                        <ul class="nav-list">
                            <li class="mb-1 red-hover">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                                data-bs-toggle="collapse" data-bs-target="#demo-collapse" aria-expanded="false">
                                    Expandable Item
                                </button>
                                <div class="collapse" id="demo-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="d-inline-flex rounded ">Item A</a></li>
                                    <li><a href="#" class="d-inline-flex rounded">Item B</a></li>
                                    <li><a href="#" class="d-inline-flex rounded">Item C</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="blue-hover"><a class="d-inline-flex rounded" href="#">Item 2</a></li>
                            <li class="green-hover"><a class="d-inline-flex rounded" href="#">Item 3</a></li>
                        </ul>
                        <div class="nav-footer border-top" style="color:white;">
                            Footer
                        </div>
                    </nav>
                    <div class="d-flex flex-column justify-content-center align-items-center inset-border w-100 p-3">
                        Content
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-12"> <!--Accordion-->
                <div class="accordion w-100" id="defaulCardAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header"> <!--Usage-->
                        <button class="accordion-button strawberry" type="button" data-bs-toggle="collapse" data-bs-target="#defaultAccordionUsage" aria-expanded="true" aria-controls="collapseOne">
                            Usage
                        </button>
                        </h2>
                        <div id="defaultAccordionUsage" class="accordion-collapse collapse show" data-bs-parent="#defaulCardAccordion">
                        <div class="accordion-body inset-border">
                            <p>
                                Default responsive navigation bar. Can utilizes Bootstrap's <span class="code">Offcanvas</span> class to 
                                toggle visibility. See <a href="https://getbootstrap.com/docs/5.3/components/offcanvas/#how-it-works">documentation</a> for details and
                                this site's vertical navigation and menu toggle above for demonstration.
                            <br>
                            Code shown is for card on display. CSS can be modified as needed using classes 
                            <span class="code">.navbar-expanded</span>, <span class="code">.nav-header</span>, <span class="code">.nav-list</span>,
                            , and <span class="code">.nav-footer</span>.
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item"> <!--Code-->
                        <h2 class="accordion-header">
                        <button class="accordion-button sky collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#defaultAccordionCode" aria-expanded="false" aria-controls="collapseTwo">
                            Code
                        </button>
                        </h2>
                        <div id="defaultAccordionCode" class="accordion-collapse collapse" data-bs-parent="#defaulCardAccordion">
                            <div class="accordion-body inset-border code">
                                <small>
                                    &lt;nav class="navbar-expanded"&gt;<br>
                                    &emsp;&lt;div class="nav-header"&gt;<br>
                                    &emsp;&emsp;&lt;a href="#"&gt;<br>
                                    &emsp;&emsp;&emsp;&lt;img class="logo" src="../assets/logos/reverse - color.png" alt="JNS Logo"&gt;&lt;/img&gt;<br>
                                    &emsp;&emsp;&lt;/a&gt;<br>
                                    &emsp;&lt;/div&gt;<br>
                                    &emsp;&lt;ul class="nav-list"&gt;<br>
                                    &emsp;&emsp;&lt;li class="mb-1 red-hover"&gt;<br>
                                    &emsp;&emsp;&lt;button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                                                data-bs-toggle="collapse" data-bs-target="#demo-collapse" aria-expanded="false"&gt;<br>
                                                    Expandable Item<br>
                                    &emsp;&emsp;&lt;/button&gt;<br>
                                    &emsp;&emsp;&lt;div class="collapse" id="demo-collapse"&gt;<br>
                                    &emsp;&emsp;&emsp;&lt;ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp; &lt;li&gt;&lt;a href="#" class="d-inline-flex rounded"&gt;Item A&lt;/a&gt;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&lt;li&gt;&lt;a href="#" class="d-inline-flex rounded"&gt;Item B&lt;/a&gt;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&lt;li&gt;&lt;a href="#" class="d-inline-flex rounded"&gt;Item C&lt;/a&gt;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&lt;/ul&gt;<br>
                                    &emsp;&emsp;&emsp;&lt;/div&gt;<br>
                                    &emsp;&emsp;&lt;/li&gt;<br>
                                    &emsp;&emsp;&lt;li class="blue-hover"&gt;&lt;a class="d-inline-flex rounded" href="#"&gt;Item 2&lt;/a&gt;&lt;/li&gt;<br>
                                    &emsp;&emsp;&lt;li class="green-hover"&gt;&lt;a class="d-inline-flex rounded" href="#"&gt;Item 3&lt;/a&gt;&lt;/li&gt;<br>
                                    &emsp; &lt;/ul&gt;<br>
                                    &emsp;&lt;div class="nav-footer border-top" style="color:white;"&gt;<br>
                                        Footer <br>
                                    &emsp;&lt;/div&gt;<br>
                                    &lt;/nav&gt;
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"> <!--Accessibility-->
                        <button class="accordion-button inchworm collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#defaultAccordionA11y" aria-expanded="false" aria-controls="collapseThree">
                            Accessibility Considerations
                        </button>
                        </h2>
                        <div id="defaultAccordionA11y" class="accordion-collapse collapse" data-bs-parent="#defaulCardAccordion">
                            <div class="accordion-body">
                                <p style="display:inline">
                                Coloring for the navigation are chosen to fit the theme of the system while also maintaining WCAG color contrast standards.
                                Links and Buttons should be used distinctly from each as defined in <a href="./buttons.html">Buttons</a>. Items in navigation
                                bar should be focusable, and have the appropriate aria labelling for keyboard navigation and screen readers. 
                                See <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility" target="_blank">Mozilla Web Documents</a>
                                for more accessibility guidelines.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <!--Footer-->
    <div class="text-center small" style="background-color: #C4BAB9;" > 
      <small>JNS © 2023</small>
    </div>
    <!-- </container> -->
    <script>
      function showCardInfo(item) {
        document.getElementById("dropdownMenuButton").innerHTML = item.innerHTML;
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="../js/sidebars.js"></script>
  </body>
</html>
