<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Nia - Cards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/gradient/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/gradient/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/gradient/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon/gradient/site.webmanifest">
    <!-- Custom styles for this template -->
    <link href="../css/global.css" rel="stylesheet">
    <link href="css/nav.css" rel="stylesheet">
    <!--Adobe font-->
    <link rel="stylesheet" href="https://use.typekit.net/hyl0lwn.css">
  </head>
  <body>
    <!--Vertical Navbar-->
    <nav id="trueNav">
      <div class="container-fluid">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <a href="../home.html" class="d-flex align-items-center text-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
              <img src="../assets/logos/reverse - color.png" style="width: 20rem;" alt="JNS Logo"></img>
            </a>
            <ul class="list-unstyled ps-0 red-hover">
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                data-bs-toggle="collapse" data-bs-target="#foundations-collapse" aria-expanded="false">
                Foundations
                </button>
                <div class="collapse" id="foundations-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../foundation/type.html" class="d-inline-flex rounded ">Typography</a></li>
                    <li><a href="../foundation/color.html" class="d-inline-flex rounded">Color Palette</a></li>
                    <li><a href="../foundation/logo.html" class="d-inline-flex rounded">Logo Variations</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1 blue-hover">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed " 
                data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="false">
                  Components
                </button>
                <div class="collapse" id="components-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../components/buttons.html" class="d-inline-flex rounded">Buttons</a></li>
                    <li><a href="../components/cards.html" class="d-inline-flex rounded">Cards</a></li>
                    <li><a href="../components/navigation.html" class="d-inline-flex rounded">Navigation</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1 green-hover">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed " 
                data-bs-toggle="collapse" data-bs-target="#patterns-collapse" aria-expanded="false">
                  Page Patterns
                </button>
                <div class="collapse" id="patterns-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../patterns/page1.html" class="d-inline-flex rounded">Homepage</a></li>
                    <li><a href="../patterns/page2.html" class="d-inline-flex rounded">Other Page</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--Header-->
    <nav id="page-header" class="navbar bg-body-tertiary header d-flex p-1" style="background-color: #C4BAB9!important;">
      <a id="nia-link" class="navbar-brand" href="../home.html" style="text-decoration: none; display: inline;">
        <div class="p-1 m-3 nia sticker"><h1>Nia</h1></div>
      </a>
      <h1 class="align-self-center flex-lg-shrink-1">Design System: Components - Navigation</h1>
      <button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <!-- Page Content  -->
    <div class="grid-paper p-5">
      <div class = "container-fluid" id="content">
        <!--Sticker-->
        <div class="row drop-shadow sticker mb-5 p-5">
          <div class="col-12">
            <h2>Vertical Navigation</h2> <!--Definition-->
            <large>
                An exapnded and responsive navigational component to maximize screen real-estate. 
            </large>
          </div>
        </div>
        <!--Main Content-->
        <div class="row px-5 mx-5 mb-5"> <!--Vertical Nav Example-->
            <div class="col-12">
                <div class="d-flex flex-column dashed-border " style="height: 100%;">
                    <nav id="demoNavbar" class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                                <img src="../assets/logos/favicon.png" style="width: 5rem;" alt="JNS logo image"></img>
                                <h3 class="logo-name">
                                    <span class="strawberry">Jordyn</span><span class="sky">Niara</span><span class="inchworm">Smith</span>
                                </h3>
                            </a>
                            <div class="vrt-div"></div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="bi bi-list"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item red-hover">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item blue-hover">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item dropdown green-hover">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                    </a>
                                    <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="d-flex flex-column justify-content-center align-items-center inset-border w-100 p-3" style="height: 10rem;">
                        Content
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center col-12"> <!--Accordion-->
                <div class="accordion w-100 mt-2" id="defaulCardAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header"> <!--Usage-->
                        <button class="accordion-button strawberry" type="button" data-bs-toggle="collapse" data-bs-target="#defaultAccordionUsage" aria-expanded="true" aria-controls="collapseOne">
                            Usage
                        </button>
                        </h2>
                        <div id="defaultAccordionUsage" class="accordion-collapse collapse show" data-bs-parent="#defaulCardAccordion">
                        <div class="accordion-body inset-border">
                            <p>
                                Default responsive navigation bar. Typically place at top of screen. 
                                Can use <span class="code">position: sticky</span> so it stays at top of screen while scrolling.
                                Decrease screen size to see responsivity (menu toggle)
                            <br>
                            Code shown is for card on display. CSS can be modified as needed using classes 
                            <span class="code">.navbar</span>, <span class="code">.navbar-brand</span>, <span class="code">.navbar-togger</span> (menu toggle button),
                            , <span class="code">.navbar-nav</span> (item list), and <span class="code">.nav-item</span> (items).
                            See <a href="https://getbootstrap.com/docs/5.3/components/navbar/">Bootstraps navbar documentation</a> for details. 
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item"> <!--Code-->
                        <h2 class="accordion-header">
                        <button class="accordion-button sky collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#defaultAccordionCode" aria-expanded="false" aria-controls="collapseTwo">
                            Code
                        </button>
                        </h2>
                        <div id="defaultAccordionCode" class="accordion-collapse collapse" data-bs-parent="#defaulCardAccordion">
                            <div class="accordion-body inset-border code">
                                <small>
                                    &lt;nav id=&quot;demoNavbar&quot; class=&quot;navbar navbar-expand-lg bg-body-tertiary&quot;&gt;<br>
                                    &emsp;&lt;div class=&quot;container-fluid&quot;&gt;<br>
                                    &emsp;&emsp;&lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&lt;img src=&quot;../assets/logos/favicon.png&quot; style=&quot;width: 5rem;&quot; alt=&quot;JNS logo image&quot;&gt;&lt;/img&gt;<br>
                                    &emsp;&emsp;&emsp; &lt;h3 class=&quot;logo-name&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp; &lt;span class=&quot;strawberry&quot;&gt;Jordyn&lt;/span&gt;&lt;span class=&quot;sky&quot;&gt;Niara&lt;/span&gt;&lt;span class=&quot;inchworm&quot;&gt;Smith&lt;/span&gt;<br>
                                    &emsp;&emsp;&emsp;&lt;/h3&gt;<br>
                                    &emsp;&emsp;&lt;/a&gt;<br>
                                    &emsp;&emsp;&lt;div class=&quot;vrt-div&quot;&gt;&lt;/div&gt;<br>
                                    &emsp;&emsp;&emsp;&lt;button class=&quot;navbar-toggler&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#navbarSupportedContent&quot; aria-controls=&quot;navbarSupportedContent&quot; aria-expanded=&quot;false&quot; aria-label=&quot;Toggle navigation&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&lt;i class=&quot;bi bi-list&quot;&gt;&lt;/i&gt;<br>
                                    &emsp;&emsp;&emsp;&lt;/button&gt;<br>
                                    &emsp;&emsp;&emsp;&lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;navbarSupportedContent&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&lt;ul class=&quot;navbar-nav me-auto mb-2 mb-lg-0&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&lt;li class=&quot;nav-item red-hover&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;a class=&quot;nav-link active&quot; aria-current=&quot;page&quot; href=&quot;#&quot;&gt;Home&lt;/a&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&lt;li class=&quot;nav-item blue-hover&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Link&lt;/a&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&lt;li class=&quot;nav-item dropdown green-hover&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;a class=&quot;nav-link dropdown-toggle&quot; href=&quot;#&quot; role=&quot;button&quot; data-bs-toggle=&quot;dropdown&quot; aria-expanded=&quot;false&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Dropdown<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;/a&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;ul class=&quot;dropdown-menu&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;li&gt;&lt;hr class=&quot;dropdown-divider&quot;&gt;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;/ul&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&lt;li class=&quot;nav-item&quot;&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&lt;a class=&quot;nav-link disabled&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/a&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&lt;/li&gt;<br>
                                    &emsp;&emsp;&emsp;&emsp;&lt;/ul&gt;<br>
                                    &emsp;&emsp;&lt;/div&gt;<br>
                                    &emsp;&lt;/div&gt;<br>
                                    &lt;/nav&gt;
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"> <!--Accessibility-->
                        <button class="accordion-button inchworm collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#defaultAccordionA11y" aria-expanded="false" aria-controls="collapseThree">
                            Accessibility Considerations
                        </button>
                        </h2>
                        <div id="defaultAccordionA11y" class="accordion-collapse collapse" data-bs-parent="#defaulCardAccordion">
                            <div class="accordion-body">
                                <p style="display:inline">
                                Coloring for the navigation are chosen to fit the theme of the system while also maintaining WCAG color contrast standards.
                                Links and Buttons should be used distinctly from each as defined in <a href="./buttons.html">Buttons</a>. Items in navigation
                                bar should be focusable, and have the appropriate aria labelling for keyboard navigation and screen readers. 
                                See <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility" target="_blank">Mozilla Web Documents</a>
                                for more accessibility guidelines.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!--Footer-->
    <div class="text-center small" style="background-color: #C4BAB9;" > 
      <small>JNS © 2023</small>
    </div>
    <!-- </container> -->
    <script>
      function showCardInfo(item) {
        document.getElementById("dropdownMenuButton").innerHTML = item.innerHTML;
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="../js/sidebars.js"></script>
  </body>
</html>
